<?xml version="1.0" encoding="utf-8" ?>
<Settings>
    <Preferences>
        <ShowAllAbilityEffects Value="false" />
    </Preferences>
    
    <ModifiedColor>
        <!-- Switch to false if you want no modified color -->
        <UseColor Value="true" />
        
        <!-- Values are between 0 and 255 -->
        <BackgroundColor Red="175" Green="175" Blue="255" />
        <ForegroundColor Red="255" Green="255" Blue="255" />
    </ModifiedColor>
    <UnreferencedColor>
        <!-- Switch to false if you want no color for unreferenced entries -->
        <UseColor Value="true" />

        <!-- Values are between 0 and 255 -->
        <BackgroundColor Red="125" Green="205" Blue="125" />
        <ForegroundColor Red="255" Green="255" Blue="255" />
    </UnreferencedColor>
    <DuplicateColor>
        <!-- Switch to false if you want no duplicate color for in use entries -->
        <UseColor Value="true" />

        <!-- Values are between 0 and 255 -->
        <BackgroundColor Red="205" Green="125" Blue="125" />
        <ForegroundColor Red="255" Green="255" Blue="255" />
    </DuplicateColor>
    <HighlightColor>
        <!-- Switch to false if you want no color for highlighted entries -->
        <UseColor Value="true" />

        <!-- Values are between 0 and 255 -->
        <BackgroundColor Red="225" Green="200" Blue="75" />
        <ForegroundColor Red="255" Green="255" Blue="255" />
    </HighlightColor>

    <Elements>
        <Element Name="Fire">
            <BackgroundColor Red="255" Green="0" Blue="0" />
            <ForegroundColor Red="255" Green="255" Blue="255" />
        </Element>
        <Element Name="Lightning">
            <BackgroundColor Red="128" Green="0" Blue="128" />
            <ForegroundColor Red="255" Green="255" Blue="255" />
        </Element>
        <Element Name="Ice">
            <BackgroundColor Red="224" Green="255" Blue="255" />
            <ForegroundColor Red="0" Green="0" Blue="0" />
        </Element>
        <Element Name="Wind">
            <BackgroundColor Red="255" Green="255" Blue="0" />
            <ForegroundColor Red="0" Green="0" Blue="0" />
        </Element>
        <Element Name="Earth">
            <BackgroundColor Red="0" Green="128" Blue="0" />
            <ForegroundColor Red="255" Green="255" Blue="255" />
        </Element>
        <Element Name="Water">
            <BackgroundColor Red="173" Green="216" Blue="230" />
            <ForegroundColor Red="0" Green="0" Blue="0" />
        </Element>
        <Element Name="Holy">
            <BackgroundColor Red="255" Green="255" Blue="255" />
            <ForegroundColor Red="0" Green="0" Blue="0" />
        </Element>
        <Element Name="Dark">
            <BackgroundColor Red="0" Green="0" Blue="0" />
            <ForegroundColor Red="255" Green="255" Blue="255" />
        </Element>
    </Elements>
    
    <!-- Color order for Team Colors is {Selected, Always Present, Not Always Present}. Teams are in the same order as in the ENTD tab: { Blue, Red, Green, LightBlue } -->
    <TeamColors Use="true">
        <Team>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="45" Green="65" Blue="245" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="75" Green="125" Blue="245" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="125" Green="175" Blue="245" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
        </Team>
        <Team>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="205" Green="35" Blue="30" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="245" Green="95" Blue="90" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="245" Green="135" Blue="130" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
        </Team>
        <Team>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="30" Green="135" Blue="30" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="70" Green="155" Blue="70" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="110" Green="175" Blue="110" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
        </Team>
        <Team>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="30" Green="135" Blue="135" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="70" Green="165" Blue="165" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
            <Color>
                <UseColor Value="true" />
                <BackgroundColor Red="110" Green="195" Blue="195" />
                <ForegroundColor Red="255" Green="255" Blue="255" />
            </Color>
        </Team>
    </TeamColors>
</Settings>
